.getGiftContainer{
    display: flex;
    position: relative;
    width: 80%;
    margin: 5px;
    text-align:left;
}
.newStatusContainer{
    position: absolute;
    width: 45px;
    height: 20px;
    top: 8px;
    left: 8px;
    padding-top: 8px;
    vertical-align: middle;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height, or 127% */

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #212121;
}
.favStatusContainer{
    
    position: absolute;
    bottom: 25%;
    right: 15px;
    
}
.favIcon{
    width: 36px;
    height: 36px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    padding-top: 6px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #4F5255;
}
.giftBox{
    width: 300% !important;
}
.getGiftContainer img{
    width: 100% !important;
    border-radius: 10px;
}
.giftTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    padding-left: 20px;
    letter-spacing: 1px;

    color: #212121;
}
.giftColors{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    padding-left: 20px;
    margin-top: -10px;
    /* identical to box height, or 127% */

    letter-spacing: 1px;

    color: #212121;
}
.giftPrice{
    display: flex;
}
.giftOldPrice{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    /* or 127% */

    letter-spacing: 1px;
    text-decoration-line: line-through;
    padding-left: 20px;
    color: #212121;
}
.giftNewPrice{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* or 127% */

    letter-spacing: 1px;
    margin-left: 10px;
    /* States & More / Red (Error) */

    color: #B00020;
}
.colorLists li{
    float: left;
    list-style-type: none;
    width: 12px;
    height: 12px;
    border-radius: 90px;
    margin-right: 10px;
    font-size: 12px;
}
.color1{ background-color: #CC3B38; }
.color2{ background-color: #6D705A; }
.color3{ background-color: #E0D7C8; }
.color4{ background-color: #000; }
.color5{ background-color: #718CBF; }
.color6{ background-color: #985B4F; }
.color7{ background-color: #C66666; }

@media only screen and (max-width: 1024px) {
    .favStatusContainer{
        bottom: 35%;
    }

    .colorLists li{
        margin-bottom: 10px;
    }
    
}